<% include partials/header %>                          <!-- Including header partial -->

<h1>LogIn!</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="NAME">
    <input type="password" name="password" placeholder="PASSWORD">
    <button>Login!</button>
</form>

<% include partials/footer %>                          <!-- Including footer partial -->