<% include partials/header %>                          <!-- Including header partial -->

<h1>Sign UP</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="NAME">
    <input type="password" name="password" placeholder="PASSWORD">
    <button>Sign Up!</button>
</form>

<% include partials/footer %>                          <!-- Including footer partial -->